# Bloke tout aksè dirèk atravè navigatè wèb nan dosye backup yo pou sekirite
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
